<div id="sobre" class="py-20 bg-secondary dark:bg-primary">
    <div class="container mx-auto px-6">
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:w-1/2 mb-10 md:mb-0 md:pr-10">
                
<h2 class="text-4xl font-bold mb-8 text-primary dark:text-white border-b-2 border-primary/20 dark:border-secondary/20 pb-4">
    Sobre Mim
</h2>
                <p class="text-lg mb-4 text-gray-700 dark:text-gray-300">Crio projetos expográficos que contam histórias, ampliam sentidos e valorizam o percurso do público com a obra. Com formação em Arquitetura e Urbanismo e mestranda em Processos de Criação Artística (UFBA), atuo na concepção de experiências espaciais integradas à narrativa curatorial.</p>
                <p class="text-lg mb-6 text-gray-700 dark:text-gray-300">Meu trabalho parte do entendimento profundo do conteúdo artístico para desenvolver soluções espaciais sensíveis, acessíveis e memoráveis. Tenho experiência com exposições institucionais, mostras independentes, circuitos urbanos e ativações culturais.</p>
                
                <a 
                  href="https://www.behance.net/teweber" 
                  target="_blank" 
                  rel="noopener noreferrer"
                  class="text-primary dark:text-secondary hover:text-gray-800 dark:hover:text-white font-medium transition-colors duration-300">
                  Saiba mais sobre meu trabalho →
                </a>
            </div>
            <div class="md:w-1/2">
                <img src="https://media.licdn.com/dms/image/v2/D4D03AQFNm3aJbb-5IA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1730742638680?e=1762387200&v=beta&t=6B6hF2-dNl4HBOZ3AOJKHvFg-gOvgMBQxIAiukapJTU" alt="Arquiteta Estefânia Weber" class="rounded-full shadow-xl w-full md:w-2/3 lg:w-1/2 mx-auto">
            </div>
        </div>
    </div>
</div>