<footer class="bg-gray-900 text-white py-10">
  <div class="container mx-auto px-6">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="text-xl font-bold mb-4 md:mb-0">Estefânia Weber Arquitetura & Urbanismo
        <span class="block text-sm font-normal mt-2">CAU A133572-3</span>
        

      </div>

      <div class="flex space-x-6">
        <a href="https://www.instagram.com/teweber/" 
        target="_blank" rel="noopener noreferrer" 
        class="hover:text-secondary transition"
        aria-label="Perfil no Instagram">        
          <i-feather name="instagram"></i-feather>
        </a>

        <a href="https://www.linkedin.com/in/estef%C3%A2niaweber/" 
        target="_blank" rel="noopener noreferrer" 
        class="hover:text-secondary transition"aria-label="Perfil no LinkedIn">
        <i-feather name="linkedin"></i-feather>
        </a>

        <a href="https://www.facebook.com/estefaniaweber" 
        target="_blank" rel="noopener noreferrer" 
        class="hover:text-secondary transition"
        aria-label="Perfil no Facebook">
          <i-feather name="facebook"></i-feather>
  
</a>
      </div>
    </div>
    <div class="border-t border-gray-800 mt-8 pt-8 text-center md:text-left">
      <p>&copy; 2025 ARQ WEBER. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>