<div class="container mx-auto px-6 py-20 pt-32 text-gray-800">
  <h1 class="text-5xl font-bold text-primary mb-8">Política de Privacidade</h1>

  <div class="space-y-6">
    <section>
      <h2 class="text-3xl font-bold text-primary mb-4">1. Introdução</h2>
      <p>A presente Política de Privacidade e Proteção de Dados Pessoais tem por finalidade demonstrar o nosso compromisso com a proteção dos seus dados pessoais. Este documento descreve como coletamos, usamos, armazenamos, compartilhamos e protegemos suas informações quando você utiliza nossos serviços para solicitar um orçamento.</p>
    </section>

    <section>
      <h2 class="text-3xl font-bold text-primary mb-4">2. Dados Coletados</h2>
      <p>Para o processo de solicitação de orçamento, coletamos os seguintes dados pessoais fornecidos por você no momento do cadastro:</p>
      <ul class="list-disc list-inside ml-4 space-y-2 mt-2">
        <li>Nome Completo</li>
        <li>Endereço de E-mail</li>
      </ul>
      <p class="mt-2">Esses dados são essenciais para que possamos identificar você e entrar em contato para fornecer o orçamento solicitado.</p>
    </section>

    <section>
      <h2 class="text-3xl font-bold text-primary mb-4">3. Finalidade do Uso dos Dados</h2>
      <p>Utilizamos seus dados exclusivamente para as seguintes finalidades:</p>
      <ul class="list-disc list-inside ml-4 space-y-2 mt-2">
        <li>Responder à sua solicitação de orçamento.</li>
        <li>Entrar em contato para agendar reuniões e discutir detalhes do projeto.</li>
        <li>Enviar comunicações relacionadas ao seu projeto e aos nossos serviços.</li>
      </ul>
    </section>

    <section>
      <h2 class="text-3xl font-bold text-primary mb-4">4. Armazenamento e Segurança</h2>
      <p>Seus dados são armazenados em ambiente seguro e controlado. Adotamos medidas de segurança, técnicas e administrativas para proteger seus dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito.</p>
    </section>

    <section>
      <h2 class="text-3xl font-bold text-primary mb-4">5. Seus Direitos</h2>
      <p>Em conformidade com a Lei Geral de Proteção de Dados (LGPD), você tem o direito de solicitar o acesso, a correção, a exclusão ou a portabilidade dos seus dados. Para exercer seus direitos, entre em contato através do e-mail: contato&#64;arqcarinaoliveira.com.</p>
    </section>
  </div>
</div>