.bg-image-login {
  /* Você pode usar a mesma imagem do registro ou uma diferente */
  background-image: url('https://images.adsttc.com/media/images/68e6/3def/5085/5901/807a/3930/slideshow/hideout-flow-pablo-luna-studio_13.jpg?1759919631');
  background-size: cover;
  background-position: center;
}