.bg-image-login {
  /* Você pode usar a mesma imagem do registro ou uma diferente */
  background-image: url('https://images.pexels.com/photos/417273/pexels-photo-417273.jpeg?_gl=1*1uqkd12*_ga*MjgwMjUwMzY2LjE3NTU3OTkwNzg.*_ga_8JE65Q40S6*czE3NTk4NTg1NTMkbzQkZzEkdDE3NTk4NTg5MDkkajMzJGwwJGgw');
  background-size: cover;
  background-position: center;
}