.bg-image-register {
  /* Escolha uma imagem que represente seu trabalho */
  background-image: url('https://images.adsttc.com/media/images/68e6/3deb/5085/5901/807a/392d/slideshow/hideout-flow-pablo-luna-studio_4.jpg?1759919615');
  background-size: cover;
  background-position: center;
}

/*   background-image: url('https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?_gl=1*k9g1l3*_ga*MjgwMjUwMzY2LjE3NTU3OTkwNzg.*_ga_8JE65Q40S6*czE3NTk4NTg1NTMkbzQkZzEkdDE3NTk4NTg5NjgkajYwJGwwJGgw');
 */