@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Raleway:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;600&display=swap" rel="stylesheet');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  @apply bg-white text-gray-800;
  @apply dark:bg-gray-900 dark:text-gray-300;
}

/* 2. ATUALIZAMOS A FONTE DOS TÍTULOS */
h1, h2, h3, h4 {
  font-family: 'Playfair Display SC', serif;
}

/* Animação da notificação que criamos antes */
/* @keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate-fade-in-down {
  animation: fadeInDown 0.5s ease;
} */